.css-o4wjux-MuiDataGrid-root{
    --DataGrid-rowBorderColor:rgb(255, 255, 255/1) !important;

    
}
.MuiDataGridVariables-74410884 {
   
    --DataGrid-t-color-border-base: rgb(255, 255, 255/1) !important;
    --DataGrid-t-typography-font-body: 
}
.css-15lx25q-MuiDataGrid-footerContainer {
    border: none !important;
}
.MuiDataGridVariables-74410884 {
    --DataGrid-t-typography-font-body: 400 0.875rem / 1.43 !important;
}

.css-b1wygl {
      
        position: unset !important;
    
    }