* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #003454;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #466b82;

}
.container{
  margin-left: 0;
  margin-right: 0;
}
